<div class="container cake-container">
  <div class="cake-img"></div>
    <h2>マイページ</h2>
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12">

      <div class="form-group row">
        <label for="name" class="col-md-4 col-sm-4 col-xs-12">姓・名</label>
        <%= @customer.last_name %>
        <%= @customer.first_name %>
      </div>
      <div class="form-group row">
        <label for="name_kana" class="col-md-4 col-sm-4 col-xs-12">セイ・メイ</label>
        <%= @customer.last_name_kana %>
        <%= @customer.first_name_kana %>
      </div>
      <div class="form-group row">
        <label for="postal_code" class="col-md-4 col-sm-4 col-xs-12">郵便番号</label>
        <%= @customer.postal_code %>
      </div>
      <div class="form-group row">
        <label for="address" class="col-md-4 col-sm-4 col-xs-12">住所</label>
        <%= @customer.address %>
      </div>
      <div class="form-group row">
        <label for="telephone_number" class="col-md-4 col-sm-4 col-xs-12">電話番号</label>
        <%= @customer.telephone_number %>
      </div>
      <div class="form-group row">
        <label for="email" class="col-md-4 col-sm-4 col-xs-12">メールアドレス</label>
        <%= @customer.email %>
      </div>
      <div>
        <p><%= link_to "編集", edit_customer_path(@customer), class: "sbtn btn-6 mypage text-center" %></p>
        <p><%= link_to '配送先', deliveries_path, class: "sbtn btn-6 mypage text-center" %></p>
        <p><%= link_to '注文履歴', orders_path, class: "sbtn btn-6 mypage text-center" %></p>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 cake-image-con">
      <%= image_tag "cake.png", class: "cake-image" %>
    </div>

  </div>
</div>

