<div class="container">
    <h2 class="mt-5">マイページ</h2>
    <div class="mt-5 mb-5">
      <div class="form-group row">
        <%= @customer.last_name %>
        <%= @customer.first_name %>
      </div>
      <div class="form-group row">
        <%= @customer.last_name_kana %>
        <%= @customer.first_name_kana %>
      </div>
      <div class="form-group row">
        <%= @customer.postal_code %>
      </div>
      <div class="form-group row">
        <%= @customer.address %>
      </div>
      <div class="form-group row">
        <%= @customer.telephone_number %>
      </div>
      <div class="form-group row">
        <%= @customer.email %>
      </div>
      <div class="form-group row">
        <%= @customer.is_deleted %>
      </div>
      <div class="form-group row">
        <p><%= link_to "Edit", edit_customer_path(@customer) %></p>
      </div>
      <div class="form-group row">
        <p><%= link_to '配送先', deliveries_path %></p>
      </div>
      <div class="form-group row">
        <p>注文履歴</p>
      </div>
    </div>
</div>


