<h2 class="mb-3">商品<span class="small">(全<%= products.count %>件)</span></h2>
<div class="row ml-1">
  <% products.each do |product| %>
    <div class="flex-wrap">
      <%= link_to product_path(product.id) do %>
        <%= attachment_image_tag product, :image, :fill, 180, 180, format: 'jpeg', class: "border-radius mb-2" %>
      <% end %>
      <p class="m-0"><%= link_to product.name, product_path(product) %></p>
      <p>¥<%= product.price %></p>
    </div>
  <% end %>
</div>