<% if @cart_item.errors.any? %>
  <div id="error_explanation">
    <ul>
     <% @cart_item.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
	<div>
		<div style = "margin: 0 auto">
			<div class="row ml-3">
			  <div class="flex-wrap mr-5">
  			  <%= attachment_image_tag @product, :image, :fill, 280, 220, format: 'jpeg', class: "border-radius" %>
  			</div>
  			<div class="flex-wrap m-3">
    			<h3><%= @product.name %></h3>
    			<p class="mb-5"><%= @product.description %></p>
    			<p>¥<%= @product.add_tax_price.to_s(:price) %>(税込)</p>
    			<%= form_with model: @cart_item, url: "/cart_items", method: :post, local: true do |f| %>
    			  <%= f.hidden_field :product_id, value: @product.id %>
      			<%= f.select :quantity, options_for_select((1..10).to_a), include_blank: '個数選択', value: 0 %>
      			<%= f.submit "カートに入れる", class: "sbtn btn-6 my-2 ml-3" %>
      		<% end %>
  			</div>
			</div>
		</div>
	</div>
</div>