<div class="top">
    <div class="image"><%= image_tag "strawberrycake.png", class: "image2", alt: "strawberrycake" %></div>
    <div class="image"><%= image_tag "flowercake.png", class: "image2", alt: "flower_cake" %></div>
    <div class="imege"><%= image_tag "fruitcake.png", class: "image2", alt: "fruit_cake" %></div>
</div>
<ul class="top-banner">
<li><%= image_tag "cake1.png", class: "image3", alt: "cake1" %></li>
<li><%= image_tag "cake2.png", class: "image3", alt: "cake2" %></li>
<li><%= image_tag "cake3.png", class: "image3", alt: "cake3" %></li>
</ul>



<p>ようこそ、ながのCAKEへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります</p>
