<div class="container">
<h2>会員編集ページ</h2>

<% if @customer.errors.any? %>
    <div id="error_explanation">
     <ul>
       <% @customer.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    </div>
<% end %>

<%= form_with model: @customer, url: admin_customer_path(@customer) ,local: true do |f| %>

  <div class="field">
    <label for="name" class="col-md-2 col-sm-2 col-xs-12">名前</label>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "col-md-2 col-sm-2 col-xs-12" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "col-md-2 col-sm-2 col-xs-12" %>
  </div>

  <div class="field">
    <label for="name_kana" class="col-md-2 col-sm-2 col-xs-12">名前(かな)</label>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "col-md-2 col-sm-2 col-xs-12" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "col-md-2 col-sm-2 col-xs-12" %>
  </div>

  <div class="field">
    <label for="postal_code" class="col-md-2 col-sm-2 col-xs-12">郵便番号</label>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "col-md-2 col-sm-2 col-xs-12" %>
  </div>

  <div class="field">
    <label for="address" class="col-md-2 col-sm-2 col-xs-12">住所</label>
    <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "col-md-2 col-sm-2 col-xs-12" %>
  </div>

  <div class="field">
    <label for="telephone_number" class="col-md-2 col-sm-2 col-xs-12">電話番号</label>
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "col-md-2 col-sm-2 col-xs-12" %>
  </div>

  <div class="field">
    <label for="email" class="col-md-2 col-sm-2 col-xs-12">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-2 col-sm-2 col-xs-12" %>
  </div>

  <div class="field">
    <label for="is_deleted" class="col-md-2 col-sm-2 col-xs-12">会員ステータス</label>
    <%= f.radio_button :is_deleted, true %>
    <%= f.label :is_deleted, "有効", {value: :true, style: "display: inline-block;"} %>
    <%= f.radio_button :is_deleted, false %>
    <%= f.label :is_deleted, "退会済み", {value: :false, style: "display: inline-block;"} %>
  </div>

  <div class="actions">
    <%= f.submit "更新する", class: "sbtn btn-6 col-md-2 col-sm-2 col-xs-12" %>
  </div>
<% end %>
</div>