<div class="container">
  <h2 class="mt-5">会員一覧(admin側)</h2>

   <% if @customer.errors.any? %>
    <div id="error_explanation">
     <ul>
       <% @customer.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    <div>
  <% end %>

  <div>
    <table class="table text-center">
      <thead>
        <tr>
          <th>姓</th>
          <th>名</th>
          <th>セイ</th>
          <th>メイ</th>
          <th>郵便番号</th>
          <th>住所</th>
          <th>電話番号</th>
          <th>メールアドレス</th>
          <th>会員ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.last_name %></td>
            <td><%= customer.first_name %></td>
            <td><%= customer.last_name_kana %></td>
            <td><%= customer.first_name_kana %></td>
            <td><%= customer.postal_code %></td>
            <td><%= customer.address %></td>
            <td><%= customer.telephone_number %></td>
            <td><%= customer.email %></td>
            <td>
                <% if customer.is_deleted == true %>
                  <p>在籍</p>
                <% else %>
                  <p>退会済み</p>
                <% end %>
            </td>
            <td class="text-center"><p><%= link_to '会員詳細', admin_customer_path(customer.id), class: "sbtn btn-6" %></p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>