  <div class="container">
    <h2>会員詳細(admin側)</h2>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="form-group row">
        <%= @customer.last_name %>
        <%= @customer.first_name %>
      </div>
      <div class="form-group row">
        <%= @customer.last_name_kana %>
        <%= @customer.first_name_kana %>
      </div>
      <div class="form-group row">
        <%= @customer.postal_code %>
      </div>
      <div class="form-group row">
        <%= @customer.address %>
      </div>
      <div class="form-group row">
        <%= @customer.telephone_number %>
      </div>
      <div class="form-group row">
        <%= @customer.email %>
      </div>
      <div class="form-group row">
        <% if @customer.is_deleted == true %>
          <p>有効</p>
        <% else %>
          <p>無効</p>
        <% end %>
      </div>
      <div class="form-group row">
        <%= link_to '会員情報編集', edit_admin_customer_path(@customer.id), class: "btn btn-outline-dark" %>
      </div>
      <div class="form-group row">
        <%= link_to '注文履歴一覧', admin_customer_orders_path(@customer.id), class: "btn btn-outline-dark" %>
      </div>
    </div>
  </div>