<h1>Public::Orders#index</h1>
<p>Find me in app/views/public/orders/index.html.erb</p>
<div class="container mt-5">
  <%= link_to 'new', new_order_path %>
	<div class="row">

		<div class="col-md-10 col-sm-10 col-xs-10">
      <h2>注文一覧<span class="small">(全<%= @orders.count %>件)</span></h2>
			<div class="row">
				<table class="table text-center">
				  <thead>
				    <th>購入日時</th>
				    <th>購入者</th>
				    <th>注文個数</th>
				    <th>注文ステータス</th>
				  </thead>
				  <tbody>
  					<% @orders.each do |order| %>
    					<tr>
    					  <td>
    					  	<%=link_to admin_order_path(order.id) do %>
    					  		<%= order.created_at%>
    					  	<%end%>
    					  </td>
                <td><%= order.customer.last_name %> <%= order.customer.first_name%></td>
                <td>
                	<% @sum =0 %>
                	<% order.order_details.each do |order_details| %>
                		<%@sum=@sum+ order_details.quantity%>
                	<%end%>
                	<%=@sum%>
                </td>

                <td>
    							<%if  order.status== 0 %>
										入金待ち
									<%elsif order.status == 1 %>
										入金確認
									<%elsif order.status == 2 %>
										製作中
									<%elsif order.status == 3 %>
										発送準備中
									<%elsif order.status == 4 %>
										発送済み
									<%end%>
                </td>
    					</tr>

	    			<% end %>

				  </tbody>
				</table>

			</div>
		</div>
	</div>
</div>
