<div class="container">
<h2>ジャンル一覧・追加</h2>

  <% if @genre.errors.any? %>
    <div id="error_explanation">
     <ul>
       <% @genre.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    <div>
  <% end %>

    <%= form_with model: @genre, url: admin_genre_path(@genre), class: "form-inline", local: true do |f| %>
      <%= f.label :name, "ジャンル名" %>
      <%= f.text_field :name, class: "mx-2" %>
      <%= f.submit "変更を保存", class: "sbtn btn-4 m-0" %>
    <% end %>
  </div>
</div>