<div class="container">
  <h2>ジャンル一覧・追加</h2>

  <% if @genre.errors.any? %>
    <div id="error_explanation">
     <ul>
       <% @genre.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form_with model: @genre, url: "/admin/genres", local: true do |f| %>
      <p class="my-3">
        <%= f.label :name, "ジャンル名" %>
        <%= f.text_field :name %>
        <%= f.submit"新規登録", class: "sbtn btn-4 m-0" %>
      </p>
    <% end %>

    <div class="col-md-7 p-0">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td class="genre-name"><%= genre.name %></td>
            <td class="text-center px-0"><%= link_to"編集する", edit_admin_genre_path(genre), class: "sbtn btn-6 m-0" %></td>
            <td class="text-center px-0"><%= link_to"削除する", admin_genre_path(genre), class: "sbtn btn-2 m-0 genre-delete", method: :delete, data: {confirm: "本当に消しますか？"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>