<div class="container">
  <div class="col-md-3 col-sm-3 col-xs-12">
<h2>ログイン</h2>

<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
  <div class="field">
    <label for="email">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label for="password">パスワード</label>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <label for="remember_me">ログイン状態を保持</label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "sbtn btn-6" %>
  </div>
<% end %>

<%#= render "admin/admins/shared/links" %>
</div>
</div>