<td>
  <%= link_to"×", cart_item_path(cart_item), class: "cart-delete-btn", method: :delete,remote: true, data: {confirm: "本当に消しますか？"} %>
</td>
<td class="px-0">
  <%= attachment_image_tag cart_item.product, :image, :fill, 120, 100, format: 'jpeg', class: "mr-3 cart_item-image" %>
  <span class="cart_item-name"><%= cart_item.product.name %></span>
</td>
<td>
  <%= cart_item.product.add_tax_price.to_s(:price)%>
</td>
<td class="cart_item_quantit_list">
  <%= form_with model: cart_item, url: cart_item_path(cart_item), remote: true do |f| %>
    <%= f.number_field :quantity, min: 1, include_blank: cart_item.quantity.to_s, class: "cart_item_quantit" %>
    <%= f.submit"変更", class: "change-btn" %>
  <% end %>
</td>
<td id='subtotal-<%= cart_item.id %>'>
  <% @subtotal = cart_item.quantity.to_i * cart_item.product.add_tax_price %>
  <%= @subtotal %>
</td>