<div class="container">
  <div class="d-flex justify-content-between m-3">
  <h2>ショッピングカート</h2>
    <%= link_to"カートを空にする", cart_items_destroy_all_path, class: "sbtn btn-2 m-0 pt-2 font-weight-bold text-center", method: :delete, data: {confirm: "カートを空にしてもいいですか？"} %>
  </div>

<% if @cart_items.present? %>
  <table class="table">
    <thead class="thead">
      <tr>
        <th></th>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody class="cart_item_tbody">
      <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
          <% if cart_item.product.sales_status == false  %>
          <tr>
            <tr id="cart-<%= cart_item.id %>">
              <%= render "quantity", cart_item: cart_item %>
            </tr>
          </tr>
        <% @sum += @subtotal %>
      <% end %>
    <% end %>
    </tbody>
  </table>

<% else %>
  <p class="m-3">カートに商品は入っていません</p>
<% end %>
  <div class="d-flex float-right under-bar" id="sum">
    <label class="mr-5">合計金額:</label>
    <p class="font-weight-bold"><%= @sum %>円</p>
  </div>
  <div class="cart_item_btn text-center">
    <p class="shopping-btn"><%= link_to"買い物を続ける", products_path, class: "shopping-btn" %></p>
  </div>
  <div class="text-center">
    <p class="next-btn"><%= link_to"情報入力に進む", new_order_path, class: "next-btn" %></p>
  </div>

</div>

