<div class="container">
  <div class="d-flex justify-content-between m-3">
  <h2>ショッピングカート</h2>
    <%= link_to"カートを空にする", cart_items_destroy_all_path, class: "empty-btn font-weight-bold", method: :delete, data: {confirm: "カートを空にしてもいいですか？"} %>
  </div>

<% if @cart_items.present? %>
  <table class="table">
    <thead class="thead">
      <tr>
        <th></th>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody class="cart_item_tbody">
      <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
          <% if cart_item.product.sales_status == false  %>
          <tr>
            <td>
              <%= link_to"×", cart_item_path(cart_item), class: "cart-delete-btn", method: :delete, data: {confirm: "本当に消しますか？"} %>
            </td>
            <td class="px-0">
              <%= attachment_image_tag cart_item.product, :image, :fill, 120, 100, format: 'jpeg', class: "mr-3 cart_item-image" %>
              <span class="cart_item-name"><%= cart_item.product.name %></span>
            </td>
            <td>
              <%= cart_item.product.add_tax_price.to_s(:price)%>
            </td>
            <td class="cart_item_quantit_list">
              <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true do |f| %>
                <%= f.number_field :quantity, min: 1, include_blank: cart_item.quantity.to_s, class: "cart_item_quantit" %>
                <%= f.submit"変更", class: "change-btn" %>
              <% end %>
            </td>
            <td>
              <% @subtotal = cart_item.quantity.to_i * cart_item.product.add_tax_price %>
              <%= @subtotal %>
            </td>
          </tr>
        <% @sum += @subtotal %>
      <% end %>
    <% end %>
    </tbody>
  </table>

<% else %>
  <p class="m-3">カートに商品は入っていません</p>
<% end %>
  <div class="d-flex float-right under-bar">
    <label class="mr-5">合計金額:</label>
    <p class="font-weight-bold"><%= @sum %>円</p>
  </div>
  <div class="cart_item_btn text-center">
    <p><%= link_to"買い物を続ける", products_path,class: "sbtn btn-1" %></p>
    <p><%= link_to"情報入力に進む", new_order_path ,class: "sbtn btn-2" %></p>
  </div>

</div>

