<div class="container">
  <div class="d-flex justify-content-between mt-3">
    <h2>商品一覧</h2>
    <p><%= link_to "商品を追加する", new_admin_product_path,  class: "btn btn-success m-0" %></p>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.name, admin_product_path(product) %></td>
          <td><%= product.price %></td>
          <td><%= product.genre.name %></td>
          <td>
            <% if product.sales_status == false  %>
              <p class="text-success">販売中</p>
            <% else %>
              <p class="text-secondary">販売停止中</p>
            <% end %>
          </td>
          <td>
            <div class="form-group row">
              <%= link_to"削除する", admin_product_path(product), class: "text-danger", method: :delete, data: {confirm: "本当に消しますか？"} %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @products %>
</div>
