confirm
<div class="container mt-5">

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
       <% @order.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div  class="col-md-10 col-sm-10 col-xs-10">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.product, :image, :fill, 60, 40, format: 'jpeg', class: "mr-3" %>
              <%= cart_item.product.name %>
            </td>
            <td>
              <%= cart_item.product.add_tax_price.to_s(:price)%>
            </td>
            <td>
              <%= cart_item.quantity %>

            </td>
            <td>
              <% @subtotal = cart_item.quantity.to_i * cart_item.product.add_tax_price %>
              <%= @subtotal %>
            </td>
            <td>
              <%= link_to"削除する", cart_item_path(cart_item), class: "btn btn-danger", method: :delete, data: {confirm: "本当に消しますか？"} %>
            </td>
          </tr>
          <% @sum += @subtotal %>
          <% end %>

        </tbody>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <table class="table">
        <tr>
          <th>送料</th>
          <td><%=@order.shipping%></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%=@sum%></td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td><%=@sum + @order.shipping %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class = "row">
    <table>
      <tr>
        <% if @order.payment_methods == 1 %>
          <th>支払い方法</th>
          <td>クレジットカード</td>
        <%elsif @order.payment_methods == 0 %>
          <th>支払い方法</th>
          <td>銀行振り込み</td>
        <%end %>
      </tr>
      <tr>
        <th>お届け先</th>
        <td><%= @order.postcode %><%= @order.address%></br><%= @order.name%></td>
      </tr>
    </table>

  </div>

	<%= form_with model: @order, local: true do |f| %>
    <%= f.hidden_field :payment_methods %>
    <%= f.hidden_field :address_kind %>

    <%= f.hidden_field :delivery_id %>

    <%= f.hidden_field :postcode %>

    <%= f.hidden_field :address %>

    <%= f.hidden_field :name %>
    <%= f.hidden_field :total_payment, value: @sum %>
    <%= f.submit "購入を確定する。", class: "btn btn-success" %>


  <% end %>
</div>


