<h1>Public::Orders#index</h1>
<p>Find me in app/views/public/orders/index.html.erb</p>
<div class="container mt-5">
  <%= link_to 'new', new_order_path %>
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
      <h2>注文一覧<span class="small">(全<%= @orders.count %>件)</span></h2>
			<div class="row">
				<table class="table text-center">
				  <thead>
				    <th>order.id</th>
				    <th>customer_id</th>
				    <th>name</th>
				    <th>postcode</th>
				    <th>addres</th>
				    <th>shipping</th>
				    <th>payment_methods</th>
				    <th>total_payment</th>
				    <th>status</th>
				    <th>address_kind</th>
				    <th>created_at</th>
				  </thead>
				  <tbody>
  					<% @orders.each do |order| %>
    					<tr>
    					  <td><%= order.id%></td>
                <td><%= order.customer_id%></td>
                <td><%= order.name %></td>
                <td><%= order.postcode %></td>
                <td><%= order.address %></td>
                <td><%= order.shipping %></td>
                <td><%= order.payment_methods %></td>
                <td><%= order.total_payment %></td>
                <td><%= order.status %></td>
                <td><%= order.address_kind %></td>
                <td><%= order.created_at %></td>
    					</tr>

	    			<% end %>

				  </tbody>
				</table>

			</div>
		</div>
	</div>
	<div class="row">
		<table class="table text-center">
		  <thead>
		    <th>order_detail.id</th>
		    <th>order.id</th>
		    <th>product_id</th>
		    <th>quantity</th>
		    <th>price</th>
		    <th>production_status</th>
	  　</thead>
	    <tbody>
	      <% @order_details.each do |order_detail| %>
				  <tr>
				    <td><%= order_detail.id%></td>
				    <td><%= order_detail.order_id%></td>
				    <td><%= order_detail.product_id%></td>
				    <td><%= order_detail.quantity%></td>
		        <td><%= order_detail.price %></td>
		        <td><%= order_detail.production_status %></td>
		
				  </tr>
			  <% end %>
		  </tbody>
		</table>
	</div>
</div>
