<h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>





<div class="container">
  <h2 class="mt-5">注文情報入力</h2>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
       <% @order.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5 mb-5">
    <%= form_with model: @order,url:  confirm_orders_path, local: true do |f| %>
      <div class="form-group row">
        <%= f.label :payment_methods, "支払い方法", class: "col-sm-2" %>
        <%= f.radio_button :payment_methods, '1' %>
        <%= f.label :payment_methods, 'クレジットカード', value: 1 %>
        <%= f.radio_button :payment_methods, '0' %>
        <%= f.label :payment_methods, '銀行振り込み', value: 0 %>
      </div>

      <div class="form-group row">

        <%= f.label :address_kind, "お届け先", class: "col-sm-2" %>
        <%= f.radio_button :address_kind, 1 %>
        <%= f.label :address_kind, 'ご自身の住所', value: 1 %>
      </div><div class="form-group row"><div class = "col-sm-2"></div>

        <%= f.radio_button :address_kind, 2 %>
        <%= f.label :address_kind, '登録済住所から選択', value: 2 %>

        <%= f.collection_select(:deliveryid, @customer.deliveries , :id, :address) %>
      </div><div class="form-group row"><div class = "col-sm-2"></div>

        <%= f.radio_button :address_kind, 3 %>
        <%= f.label :address_kind, '新規登録', value: 3 %>

          <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
          <%= f.text_field :postcode %>
          <%= f.label :address, "住所" %>
          <%= f.text_field :address %>
          <%= f.label :name, "宛名" %>
          <%= f.text_field :name %>


      </div>




      <div class="form-group row ">
        <%= f.submit "確認画面へ進む", class: "btn btn-success" %>
      </div>
    <% end %>

    </div>
  </div>
</div>