<div class="container">
  <h2>注文情報入力</h2>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
       <% @order.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5 mb-5">
    <%= form_with model: @order,url:  confirm_orders_path, local: true do |f| %>
      <div class="form-group row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <%= f.label :payment_methods, "支払い方法" %>
        </div>
        <div class ="col-md-8 col-sm-8 col-xs-8">
          <%= f.radio_button :payment_methods, '1' %>
          <%= f.label :payment_methods, 'クレジットカード', value: 1 %>
          <%= f.radio_button :payment_methods, '0' %>
          <%= f.label :payment_methods, '銀行振り込み', value: 0 %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <%= f.label :address_kind, "お届け先" %>
        </div>
        <div class ="col-md-8 col-sm-8 col-xs-8">
          <%= f.radio_button :address_kind, 1 %>
          <%= f.label :address_kind, 'ご自身の住所', value: 1 %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 col-sm-2 col-xs-2"></div>
        <div class ="col-md-8 col-sm-8 col-xs-8">
          <%= f.radio_button :address_kind, 2 %>
          <%= f.label :address_kind, '登録済住所から選択', value: 2 %>
          <%= f.collection_select(:deliveryid, @customer.deliveries , :id, :address) %>
        </div>

      </div>
      <div class="form-group">
        <div class="row">
          <div class ="col-md-2 col-sm-2 col-xs-2"></div>
          <div class ="col-md-8 col-sm-8 col-xs-8">
            <%= f.radio_button :address_kind, 3 %>
            <%= f.label :address_kind, '新規登録', value: 3 %>
          </div>
        </div>
        <div class="row mb-1">
          <div class ="col-md-2 col-sm-2 col-xs-2 "></div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-right">
            <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <%= f.text_field :postcode ,class: "form-control"%>
          </div>
        </div>
        <div class="row mb-1">
          <div class ="col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-right">
            <%= f.label :address, "住所" %>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <%= f.text_field :address ,class: "form-control"%>
          </div>
        </div>
        <div class="row">
          <div class ="col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-right">
            <%= f.label :name, "宛名" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <%= f.text_field :name,class: "form-control"%>
          </div>
        </div>
      </div>
      <div class="form-group row">

        <%= f.submit "確認画面へ進む", class: "sbtn btn-7 text-center" %>
      </div>
      <% end %>

    </div>
  </div>
</div>