<header>
      <div class ="container">
        <div>
        <div>
          <h1>
            <%= link_to "Nakopa", root_path, class: "header-logo" %>
          </h1>
        </div>
        <div>
        <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if customer_signed_in? %>
                <li class="nav-item text-center mr-3">
                  <%= link_to 'マイページ', customer_path(current_customer), class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to '商品一覧', products_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to 'カート', cart_items_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center">
                  <%= link_to "ログアウト", destroy_customer_session_path, class: "nav-link", method: :delete %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item text-center mr-3">
                  <%= link_to '商品一覧', admin_products_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to '会員一覧', admin_customers_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to '注文履歴一覧', admin_orders_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to 'ジャンル一覧', admin_genres_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item text-center mr-3">
                  <%= link_to 'About', homes_about_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to '商品一覧', products_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to '新規登録', new_customer_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to 'ログイン', new_customer_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item text-center mr-3">
                  <%= link_to '管理者ログイン', new_admin_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
             <%= render 'layouts/search' %>
          </div>
        </nav>
        </div>
        </div>
      </div>
    </header>