<% if customer_signed_in? %>
  <div class='my-lg-0'>
    <%= form_with url: public_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :content,class: "form-control mr-sm-2" %>
      <%= f.submit '検索', class: "btn btn-outline-success my-2" %>
    <% end %>
  </div>
<% elsif admin_signed_in? %>
  <div class='my-lg-0'>
    <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :content,class: "form-control mr-sm-2" %>
      <%= f.select :model, options_for_select({ "Customer" => "customer", "Product" => "product" }) %>
      <%= f.submit '検索', class: "sbtn btn-1 my-2" %>
      <%= f.submit '検索', class: "sbtn btn-2 my-2" %>
      <%= f.submit '検索', class: "sbtn btn-3 my-2" %>
      <%= f.submit '検索', class: "sbtn btn-4 my-2" %>
      <%= f.submit '検索', class: "sbtn btn-5 my-2" %>
      <%= f.submit '検索', class: "sbtn btn-6 my-2" %>
    <% end %>
  </div>
<% else %>
<% end %>
