<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8"/>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" charset="UTF-8"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
    <div class="container sukima">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </div>
      <%= yield %>
    </main>
    <!--<footer class="text-center">-->
    <!--  <div class="back">-->
    <!--  </div>-->
    <!--  <p>©︎なこぱ-DMMwebcamp</p>-->
    <!--</footer>-->
  </body>
</html>
