<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-light">
      <div class ="container">
        <div>
          <h1>LOGO</h1>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">商品一覧<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">会員一覧</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
              <% if customer_signed_in? %>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#"><%= link_to 'マイページ', customer_path(current_customer) %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">商品一覧</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">カート</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></a>
                </li>
              <% else %>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#"><%= link_to 'About', homes_about_path %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">商品一覧</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#"><%= link_to '新規登録', new_customer_registration_path %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#"><%= link_to 'ログイン', new_customer_session_path %></a>
                </li>
              <% end %>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <% if admin_signed_in? %>
      管理者ログイン中
      <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %>
    <% else %>
      管理者ログアウト中
      <%= link_to '管理者ログイン', new_admin_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
